.food-card {
    width: 100%;
    height: 350px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    overflow: hidden;
  }
  
  .card-container {
    padding: 10px;
    max-width: 400px;
  }
  
  .food-card img {
    width: 100%;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  /* Overlay Styling - only covers the image */
  .image-container {
    position: relative;
    align-items: center;
    margin: 10px;
    width: 95%;
    height: 70%;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  
    opacity: 0;
    transition: opacity 0.3s ease;
    color: white;
    font-size: 1rem;
  }
  
  /* Hover Effects */
  .food-card:hover img {
    transform: scale(1.1);
    opacity: 0.8;
  }
  
  .food-card:hover .overlay {
    opacity: 1;
  }
  
  /* Item details */
  
  .item-details {
    padding: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .item-name {
    padding-top: 10px;
    color: #000000;
    margin-left: 10px;
  }
  
  .item-price {
    color: #c59d5f;
    margin-left: 10px;
  }
  
  .order-btn {
    border: 2px solid #c59d5f;
    height: 45px;
    border-radius: 10px;
    background-color: white;
    color: #c59d5f;
    padding: 0 28px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    margin-top: -35px;
    float: right;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .order-btn:hover {
    background-color: #c59d5f;
    color: white;
  }
  
  /* Container for both buttons */
  .button-container {
    display: flex;
    justify-content: end; 
    margin: 20px 0; 
}
  .btn-secondary-next {
    background-color: #c59d5f !important;
    color: #ffffff !important;
    text-decoration: none;
    align-items:center ;
    display: inline-block;
    padding: 8px 16px;
  }
  
  .btn-secondary-next:hover {
    border: 3px solid #c59d5f !important;
    background-color: #ffffff !important;
    color: #c59d5f !important;
  }
  
  @media (max-width: 1024px) {
    .image-container {
      width: 240px;
    }
  }
  
  @media (max-width: 768px) {
    .image-container {
      width: 275px;
    }
  }
  
  @media (max-width: 320px) {
    .order-btn {
      width: 120px;
      height: 35px;
      font-size: 14px;
      padding: 0 8px;
    }
  
    .image-container {
      margin: 5px;
      width: 222px;
    }
  }
  