body {
  overflow-x: hidden;
  height: 100%;
  background-color: #1e1e1e !important;
}

.content {
  margin-left: 300px;
  padding: 10px;
}

.container h2 {
  color: #c59d5f;
}

/*Order Summary Section*/
.order-summary-box {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #333;
  color: #f7c654;
}

.chart-box {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #333;
  color: #ffffff !important;
}

.order-title {
  font-weight: bold;
  margin: 0 0 20px 0;
  color: #c59d5f;
  text-align: left;
  padding: 0;
}

.order-summary-box h4 {
  color: white;
  font-size: 16px;
}

.order-summary-box p {
  font-weight: bold;
}

.chart-container {
  background-color: #e9ecef;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

#pieChart,
#barChart {
  width: 500px;
  height: 500px;
}
/*offer section*/
.special-offer-img {
  width: 300px;
  height: 150px;
}

.modal-content {
  background-color: #666;
  color: white;
}

.modal-header {
  background-color: #000;
  color: white;
}

#closeModal {
  color: #ffffff;
}

.modal-footer button {
  width: 100px;
  background-color: #c59d5f;
  border: none;
  color: black;
  font-weight: bold;
}

.modal-footer button:hover {
  background-color: #c59d5f;
}

.form-control {
  background-color: #555;
  border: none;
  color: white;
}

.form-control:focus {
  box-shadow: none;
  background-color: #444;
}

/* Special offer styles */
.offer-img-container {
  position: relative;
  display: inline-block;
  margin: 5px;
}

.offer-img-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.offer-img-container .delete-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 2px 8px;
  cursor: pointer;
}

.custom-yellow {
  background-color: #c59d5f;
  color: black;
  border: 2px solid #c59d5f;
  font-weight: bolder;
  margin-bottom: 20px;
}

.custom-yellow:hover,
.custom-yellow:active {
  background-color: transparent;
  color: #c59d5f;
  font-weight: bold;
}

.custom-yellow-outline {
  background-color: transparent;
  color: #c59d5f;
  border: 2px solid #c59d5f;
  margin-bottom: 20px;
}

.custom-yellow-outline:hover {
  background-color: #c59d5f;
  color: black;
  font-weight: bold;
}

p {
  color: #ffffff;
}

/*customer details table*/
#example th:nth-child(1),
#example tbody td:nth-child(1) {
  text-align: left;
}

.container-lg {
  color: #e9ecef;
  background-color: transparent;
}
.container-lg h2 {
  color: #c59d5f;
  margin-bottom: 20px;
}

div.dt-container select.dt-input {
  background-color: #000;
  color: #ffffff;
}

table.dataTable.display tbody tr:nth-child(odd) * {
  background-color: #393333;
}

/* Centering for small screens */
@media (max-width: 1024px) {
  .container.my-lg-1 {
    margin-top: 30px;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .col {
    flex: 0 0 auto;
    margin: 0;
  }

  body {
    margin-left: 300px;
    height: 100%;
    overflow-x: hidden;
  }
  .custom-yellow {
    margin-bottom: 20px;
  }
  .custom-yellow-outline {
    margin-bottom: 20px;
  }
}

/* for screens up to 768px */
@media (max-width: 768px) {
  .col {
    margin-bottom: 3px;
    padding: 0;
  }
  body {
    margin-left: 0;
    height: 100%;
    overflow-x: hidden;
  }
  .custom-yellow {
    margin-bottom: 20px;
  }
  .custom-yellow-outline {
    margin-bottom: 20px;
  }
}

@media (min-width: 1440px) {
  .row {
    max-width: 1200px;
    justify-content: center;
    min-width: fit-content;
  }
  body {
    margin-left: 300px;
    overflow-x: hidden;
  }
}
@media (max-width: 576px) {
  .custom-yellow {
    margin-bottom: 20px;
  }
  .custom-yellow-outline {
    margin-bottom: 20px;
  }
  body {
    height: 100%;
    overflow-x: hidden;
  }

  .chart-box {
    margin-bottom: 20px;
    height: 100%;
  }

  /* Bar Chart styling for small screens */
  #barChart {
    height: 100% !important; /* Increase height for better visibility */
  }

  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }

  .col-lg-8,
  .col-lg-4 {
    width: 100%; /* Full width on small screens */
  }
}
@media (max-width: 320px) {
  .order-summary-box p {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  body {
    overflow-x: hidden;
  }
  #offerList {
    justify-content: center !important;
    gap: 1rem;
  }

  .promotion-card {
    justify-content: center;
  }
}
