.modal-body {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
}

.input[type="text"],
.input[type="email"],
.input[type="tel"] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.label {
  margin-bottom: 10px;
  display: block;
}

.form-check-input:checked {
  background-color: #c59d5f !important;
  border-color: #c59d5f !important;
}

.btn-success {
  border: #c59d5f !important;
  color: #ffffff !important;
  background-color: #c59d5f !important;
}
.btn-primary {
  border-color: #c59d5f !important;
  background-color: white !important;
  color: #c59d5f !important;
}

.btn-primary:hover {
  background-color: #c59d5f !important;
  color: white !important;
  border-color: #c59d5f !important;
}
